.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    border: 1px solid rgb(191, 191, 191);
    border-radius: 20px;
    background-color: rgb(20, 20, 160);    
    width: 20%;
    height: 55%;
    text-align: center;
}

.container{
    height: 10vh;
}
.header{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.email{
    padding: 10px;
}

.password {
    padding: 10px;
}

.button{
    padding: 10px;
}

label{
    padding-right: 20px;
    color: aliceblue;
}